.backgroundOfPage{
    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 1024px;
    width: 1440px;
    background-image: linear-gradient(#1CDEEA, #000000);
}

.navbarBlock{
    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 111px;
    width: 1440px;
    background-color: #16d7ea;

}

.mainBlock{
    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 811px;
    width: 1206px;
    background-image: linear-gradient(#FDFFFF, #1CDEEA, #215C60);
    border-radius: 50px;
}

.sumBlock{
    position: relative;
    left: 200px;
    top: 150px;
}

.rateBlock{
    position: static;
    margin-left: 200px;
    margin-top: 300px;
}

.termBlock{
    position: relative;
    margin-left: 750px;
    top: -295px;
}

.dateBlock{
    position: static;
    margin-left: 750px;
    margin-top: -240px;
}

.selectorBlock{
    position: relative;
    margin-left: 750px;
    margin-top: 60px;
}

.buttonBlock{
    position: static;
    margin-left: 450px;
    margin-top: 200px;
}

.tableBlock{
    position: static;
    margin-top: 650px;
    width: inherit;
}

.modalBlock{
    position: static;
    margin-left: 980px;
    margin-top: -700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBlock{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 800px;
    overflow: scroll;

}

.pageBlock{
    position: relative;
    left: 225px;
    margin-left: 100px;
    height: 80px;
    width: 655px;
    background-color: #1CDEEA;
    box-shadow: 0px 5px 5px grey;
    border: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: white;

}



.slider{
    position: static;
    margin-left: -230px;
    margin-top: 50px;
    width: 230px;
}

.inputSum {
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}

.inputRate{
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}

.inputTerm {
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}


.paymentsButton{
    height: 80px;
    width: 255px;
    background-color: #1CDEEA;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.scrollingButton{
    position: relative;
    left: 100px;
    margin-left: 100px;
    height: 80px;
    width: 200px;
    background-color: #52E7F9;
    box-shadow: 0px 5px 5px grey;
    border: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: white;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

h2, h3, p {
    font-size: 24px;
    font-family: cursive;
    text-align: left;
}



